@{
    ViewBag.Title = "Home Page";
}

<center>
    <div class="jumbotron">
        <h1>Welcome to the Poké Mart!</h1>
    </div>
</center>

<center>
    <img src="~/Content/Pokéball.jpg" style="width:100px; height:auto" />
</center>